@model IEnumerable<Cibertec.Models.Customers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Messages.AlertMessages()

<p>
    @*@Html.ActionLink("Create New", "Create") ANTES*@
    @* CON BOOTSTRAP *@
    <a href="#" onclick="cibertec.getModal('@Url.Action("Create")'); return false;"
       data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"> New </span>
    </a>
</p>

@* El guin bajo es para que el raisor identifique que es un vista parcial *@
@*@Html.Partial("_List")*@
<div class="pagination"></div>
<div class="content"></div>
<div class="pagination"></div>

@Modal.GetModal("Customer", "customer.closeModal();")

<script src="~/Scripts/jquery.bootpag.min.js"></script>
<script src="~/App_JS/cibertec.js"></script>
<script src="~/App_JS/customer.js"></script>

@*Scripts para el SignalR*@
<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        var customerHub = $.connection.customerHub;
        $.connection.hub.start().done(function () {
            console.log("Connected to hub...");
            console.log(customer);
        });
    })
</script>